
{% extends 'base.html.twig' %}

{% block body %}
    <hr/>
    <h2 class="page-header">{{ author.name }}</h2>
    <ul class="list-group">
        <li class="list-group-item">Address: {{ author.address }}</li>
        <li class="list-group-item">Book ID: {{ author.bookid }}</li>
    </ul>
        <a href="{{ path('book_list') }}" class="btn btn-default">Back to Book List</a>
{% endblock %}

