
{% extends 'base.html.twig' %}

{% block body %}
    <hr/>
    <h2 class="page-header">{{ category.type }}</h2>
    <ul class="list-group">
        <li class="list-group-item">Book ID: {{ category.bookid }}</li>
    </ul>
        <a href="{{ path('category_list') }}" class="btn btn-default">Back to Category List</a>
{% endblock %}

